.fix-imgNew {
  height: 250px;
  width: 94% !important;
  object-fit: contain;
  padding-top: 10px;
}

.new-image {
  display: flex;
  justify-content: center;
}

.single-product-wrapNew {
  background: #ffffff none repeat scroll 0 0;
  position: relative;
  padding: 0 0 18px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 300ms ease-in 0s;
  height: 310px;
}

/* .single-product-wrapNew a {
  height: 100%;
} */


.single-product-wrapNew:hover {
  /* margin: 0 0 -60px; */
  margin: -6px;
  background: #bebebe none repeat scroll 0 0;
  /* z-index: 9; */
}